<p Style='text-align: right; font-size: 130%'> 30/06/2023 </p>

<center><img src='imagen.webp'></center>

<h2 Style='color:#2c2b4b; text-align: center'> Empresa PK2 </h2>

<h2 Style='color:#2c2b4b; text-align: center; font-size: 90%'> IIC-2023 </h2>

<p Style='font-family:Arial'> Durante los años 2021 y 2022 la empresa PK2, ha estado analizando incursionar en la venta de Bienes Rices en los Estados Unidos, siendo que previo a tomar una decisión respecto a dar inicio con las operaciones de venta de propiedades se procedió a recopilar información relacionada con el sector de bienes raíces de USA. <br>

Como resultado de la recopilación de los datos, PK2 identificó y consolido un set de datos con 200.000 observaciones, cada una de ellas conformadas por 14 variables, es decir se generó un Data Set de 2.800.000 datos, razón por la cual se decidido contratar sus servicios para generar el proceso de análisis en pro de disponer de insumos para el proceso de toma de decisiones. <br>

Adicionalmente, en función de los datos podría determinarse alguna estrategia de ventas de propiedades en alguna ciudad, adicionalmente siéntase en la libertad de incluir algunos otros datos que por contexto de negocio le parezcan relevantes para la toma de decisiones. <br>

Es importante mencionar que producto de la labor de analítica su persona deberá entregar un informe ejecutivo donde se plasmen sus hallazgos y conclusiones, este no deberá superar 10 páginas.</p>

<table>
  <tr>
    <td> <img src="Info.avif" alt="Enlace para consulta"/></td>
    <td Style='text-align: justify; font-style: normal; font-weight: normal'><a href="https://www.kaggle.com/datasets/utkarshx27/real-estate-sales-2001-2020-gl">Fuente de datos para la realizacion del proyecto</a></td>
    <td Style='text-align: justify; font-style: normal; font-weight: normal'>Este es un repositorio abierto para el uso de DataSet con proposito academico, siendo que en este podemos encontrar la meta data necesaria para generar el trabajo durante el cuatrimestre.</td>
  </tr>
</table>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
df_rss = pd.read_csv("DataSet.csv", sep = ";", low_memory=False)

In [3]:
df_rss.shape

(200015, 26)

In [4]:
df_rss.rename({'Serial Number': 'serial_number'}, axis=1, inplace=True)
df_rss.rename({'List Year': 'list_year'}, axis=1, inplace=True)
df_rss.rename({'Date Recorded': 'date_recorded'}, axis=1, inplace=True)
df_rss.rename({'Assessed Value': 'assessed_value'}, axis=1, inplace=True)
df_rss.rename({'Sale Amount': 'sale_amount'}, axis=1, inplace=True)
df_rss.rename({'Sales Ratio': 'sales_ratio'}, axis=1, inplace=True)
df_rss.rename({'Property Type': 'property_type'}, axis=1, inplace=True)
df_rss.rename({'Residential Type': 'residential_type'}, axis=1, inplace=True)
df_rss.rename({'Non Use Code': 'non_use_code'}, axis=1, inplace=True)
df_rss.rename({'Assessor Remarks': 'assessor_remarks'}, axis=1, inplace=True)
df_rss.rename({'OPM remarks': 'OPM_remarks'}, axis=1, inplace=True)
df_rss.columns

Index(['serial_number', 'list_year', 'date_recorded', 'Town', 'Address',
       'assessed_value', 'sale_amount', 'sales_ratio', 'property_type',
       'residential_type', 'non_use_code', 'assessor_remarks', 'OPM_remarks',
       'Location', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [5]:
df_rss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200015 entries, 0 to 200014
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   serial_number     200013 non-null  float64
 1   list_year         200013 non-null  float64
 2   date_recorded     200011 non-null  object
 3   Town              200013 non-null  object
 4   Address           200009 non-null  object
 5   assessed_value    200013 non-null  object
 6   sale_amount       200011 non-null  object
 7   sales_ratio       200011 non-null  object
 8   property_type     66804 non-null   object
 9   residential_type  61013 non-null   object
 10  non_use_code      45783 non-null   object
 11  assessor_remarks  14350 non-null   object
 12  OPM_remarks       2895 non-null    object
 13  Location          57095 non-null   object
 14  Unnamed: 14       485 non-null     object
 15  Unnamed: 15       185 non-null     object
 16  Unnamed: 16       65 non-null      object
 17  Unnamed: 17       30 non-null      object
 18  Unnamed: 18       18 non-null      object
 19  Unnamed: 19       17 non-null      object
 20  Unnamed: 20       15 non-null      object
 21  Unnamed: 21       14 non-null      object
 22  Unnamed: 22       14 non-null      object
 23  Unnamed: 23       13 non-null      object
 24  Unnamed: 24       1 non-null       object
 25  Unnamed: 25       4 non-null       object
dtypes: float64(2), object(24)
memory usage: 39.7+ MB

In [6]:
df_rss.isnull().sum()

serial_number            2
list_year                2
date_recorded            4
Town                     2
Address                  6
assessed_value           2
sale_amount              4
sales_ratio              4
property_type       133211
residential_type    139002
non_use_code        154232
assessor_remarks    185665
OPM_remarks         197120
Location            142920
Unnamed: 14         199530
Unnamed: 15         199830
Unnamed: 16         199950
Unnamed: 17         199985
Unnamed: 18         199997
Unnamed: 19         199998
Unnamed: 20         200000
Unnamed: 21         200001
Unnamed: 22         200001
Unnamed: 23         200002
Unnamed: 24         200014
Unnamed: 25         200011
dtype: int64

In [7]:
df_rss.drop(['non_use_code', 'assessor_remarks', 'OPM_remarks', 'Location','Unnamed: 14', 
             'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
             'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 
             'Unnamed: 24', 'Unnamed: 25'], axis=1, inplace=True)
df_rss.reset_index(drop=True, inplace=True)

In [8]:
df_rss["serial_number"]= df_rss["serial_number"].fillna(df_rss["serial_number"].mean()) #borrar valores faltantes con mediana
df_rss["list_year"]= df_rss["list_year"].fillna(df_rss["list_year"].mean())

In [9]:
df_rss["property_type"]=df_rss["property_type"].fillna(df_rss["property_type"].mode()[0]) #borrar valores faltantes con moda a cero
df_rss["residential_type"]=df_rss["residential_type"].fillna(df_rss["residential_type"].mode()[0])
df_rss["Town"]=df_rss["Town"].fillna(df_rss["Town"].mode()[0])
df_rss["Address"]=df_rss["Address"].fillna(df_rss["Address"].mode()[0])

In [10]:
df_rss.dropna(inplace=True)

In [11]:
df_rss.isnull().sum()

serial_number       0
list_year           0
date_recorded       0
Town                0
Address             0
assessed_value      0
sale_amount         0
sales_ratio         0
property_type       0
residential_type    0
dtype: int64

In [12]:
df_rss.dtypes

serial_number       float64
list_year           float64
date_recorded        object
Town                 object
Address              object
assessed_value       object
sale_amount          object
sales_ratio          object
property_type        object
residential_type     object
dtype: object

In [13]:
df_rss["assessed_value"] = pd.to_numeric(df_rss["assessed_value"], errors='coerce')
promNormalizadas = df_rss["assessed_value"].astype("float").mean(axis=0)
df_rss["sale_amount"] = pd.to_numeric(df_rss["sale_amount"], errors='coerce')
promNormalizadas = df_rss["sale_amount"].astype("float").mean(axis=0)
df_rss["sales_ratio"] = pd.to_numeric(df_rss["sales_ratio"], errors='coerce')
promNormalizadas = df_rss["sales_ratio"].astype("float").mean(axis=0)
df_rss["date_recorded"] = pd.to_numeric(df_rss["date_recorded"], errors='coerce')
promNormalizadas = df_rss["date_recorded"].astype("float").mean(axis=0)

In [14]:
dfTemp = df_rss.isnull()
dfTemp.head(5)

for columna in dfTemp.columns.values.tolist(): #toma los datos, crea una lista y los encierra en una variable

    print(columna)
    print(dfTemp[columna].value_counts()) #usar parentesis cuadrado para cuando se refiera a una lista.
    print("")

serial_number
False    200007
Name: serial_number, dtype: int64

list_year
False    200007
Name: list_year, dtype: int64

date_recorded
True    200007
Name: date_recorded, dtype: int64

Town
False    200007
Name: Town, dtype: int64

Address
False    200007
Name: Address, dtype: int64

assessed_value
False    199917
True         90
Name: assessed_value, dtype: int64

sale_amount
False    199980
True         27
Name: sale_amount, dtype: int64

sales_ratio
False    192688
True       7319
Name: sales_ratio, dtype: int64

property_type
False    200007
Name: property_type, dtype: int64

residential_type
False    200007
Name: residential_type, dtype: int64

In [15]:
promsale_amount = df_rss["sale_amount"].astype("float").mean(axis=0)
df_rss["sale_amount"].replace(np.nan, promsale_amount, inplace=True)
promsale_amount = df_rss["date_recorded"].astype("float").mean(axis=0)
df_rss["date_recorded"].replace(np.nan, promsale_amount, inplace=True)
promassessed_value = df_rss["assessed_value"].astype("float").mean(axis=0)
df_rss["assessed_value"].replace(np.nan, promassessed_value, inplace=True)
promsales_ratio = df_rss["sales_ratio"].astype("float").mean(axis=0)
df_rss["sales_ratio"].replace(np.nan, promsales_ratio, inplace=True)

In [16]:
df_rss.dtypes

serial_number       float64
list_year           float64
date_recorded       float64
Town                 object
Address              object
assessed_value      float64
sale_amount         float64
sales_ratio         float64
property_type        object
residential_type     object
dtype: object

In [17]:
dfTemp = df_rss.isnull()
dfTemp.head(5)

for columna in dfTemp.columns.values.tolist(): #toma los datos, crea una lista y los encierra en una variable

    print(columna)
    print(dfTemp[columna].value_counts()) #usar parentesis cuadrado para cuando se refiera a una lista.
    print("")

serial_number
False    200007
Name: serial_number, dtype: int64

list_year
False    200007
Name: list_year, dtype: int64

date_recorded
True    200007
Name: date_recorded, dtype: int64

Town
False    200007
Name: Town, dtype: int64

Address
False    200007
Name: Address, dtype: int64

assessed_value
False    200007
Name: assessed_value, dtype: int64

sale_amount
False    200007
Name: sale_amount, dtype: int64

sales_ratio
False    200007
Name: sales_ratio, dtype: int64

property_type
False    200007
Name: property_type, dtype: int64

residential_type
False    200007
Name: residential_type, dtype: int64

In [18]:
df_rss['property_type'] = df_rss['property_type'].replace(r'\d+', 'NaN', regex=True)
Sus = ['NaN N', 'NaN', 'NaN SUMMIT ST', 'NaN.NaN', 'NaN N', 'NaNA', 'NaNC SAW MILL', ' NaN N']
df_rss["property_type"].replace(Sus,np.nan,inplace=True)

df_rss.dropna(subset=["property_type"], axis=0,inplace=True)
df_rss.reset_index(drop=True,inplace=True)

In [19]:
dfTemp = df_rss.isnull()
dfTemp.head(5)

for columna in dfTemp.columns.values.tolist(): #toma los datos, crea una lista y los encierra en una variable

    print(columna)
    print(dfTemp[columna].value_counts()) #usar parentesis cuadrado para cuando se refiera a una lista.
    print("")

serial_number
False    199879
Name: serial_number, dtype: int64

list_year
False    199879
Name: list_year, dtype: int64

date_recorded
True    199879
Name: date_recorded, dtype: int64

Town
False    199879
Name: Town, dtype: int64

Address
False    199879
Name: Address, dtype: int64

assessed_value
False    199879
Name: assessed_value, dtype: int64

sale_amount
False    199879
Name: sale_amount, dtype: int64

sales_ratio
False    199879
Name: sales_ratio, dtype: int64

property_type
False    199879
Name: property_type, dtype: int64

residential_type
False    199879
Name: residential_type, dtype: int64

In [20]:
df_rss.groupby(['list_year', 'property_type'])['sale_amount'].sum() #Respuesta 1.

list_year  property_type
2001.0     Residential       1.467167e+10
2002.0     Residential       1.710040e+10
2003.0     Residential       5.583694e+09
2004.0     Residential       3.810000e+05
2005.0     Residential       2.268956e+07
2006.0     Condo             6.928400e+06
           Residential       5.666678e+07
           Two Family        1.100000e+05
2007.0     Condo             1.027192e+07
           Residential       2.280752e+07
2008.0     Condo             2.256675e+06
           Residential       2.084596e+07
2009.0     Condo             4.001640e+06
           Residential       2.559639e+07
2010.0     Condo             5.420470e+06
           Residential       3.960215e+07
2011.0     Condo             2.872450e+06
           Residential       2.776450e+07
2012.0     Condo             4.458995e+06
           Residential       3.516137e+07
2013.0     Condo             2.735900e+06
           Residential       6.547219e+07
           Three Family      5.000000e+04
2014.0     Condo             6.114500e+06
           Residential       6.962482e+07
2015.0     Condo             4.425565e+06
           Residential       3.464670e+07
2016.0     Condo             6.265400e+06
           Residential       2.417070e+07
           Single Family     5.300000e+05
2017.0     Condo             8.218900e+06
           Residential       5.908969e+07
           Two Family        2.850000e+05
2018.0     Condo             1.120318e+07
           Residential       8.898636e+07
2019.0     Condo             1.157474e+07
           Residential       1.104839e+08
2020.0     Apartments        6.169097e+09
           Commercial        3.456687e+09
           Industrial        4.119977e+08
           Public Utility    1.848544e+06
           Residential       2.901690e+10
           Vacant Land       9.258801e+08
Name: sale_amount, dtype: float64

In [21]:
type = df_rss.groupby(['property_type'])['sale_amount'].mean()
resident = type['Residential']
comercia = type ['Commercial']

 #Respuesta 4

print("promedio residential:",resident)
print("promedio commercial:",comercia)

promedio residential: 346268.1652413106
promedio commercial: 1771751.5797180934

In [22]:
df_rss.groupby(['residential_type', 'Town', "Address"])['sale_amount'].sum() #respuesta 5

residential_type  Town        Address
Condo             Ansonia     11 HUGHES CIR          250000.0
                              12 HUGHES CIR # 8      290000.0
                              14 MACINTOSH LANE      174000.0
                              16 HUGHES CR           209000.0
                              21 WINESAP CT          167000.0
                                                       ...
Two Family        Woodbridge  1687 LITCHFIELD TPK    290000.0
                              1691 LITCHFIELD TPK    290000.0
                              1830 LITCHFIELD TPK    215000.0
                  Woodbury    533 WEEKEEPEEMEE RD    165000.0
                  Woodstock   569 RT 197             205000.0
Name: sale_amount, Length: 183663, dtype: float64

In [23]:
df_rss.groupby(["property_type"])['sales_ratio'].mean() #respuesta 6

property_type
Apartments         34.212632
Commercial         60.084438
Condo              17.342855
Industrial         37.914894
Public Utility    198.040016
Residential        38.855471
Single Family       0.721350
Three Family       41.348000
Two Family          0.595950
Vacant Land        38.798408
Name: sales_ratio, dtype: float64